body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

h1, h2, h3, ul p {
  color: rgb(38, 53, 85);
}

h1, h2 {
  font-size: 28px;
  font-family: "RGO", sans-serif;
}

h3 {
  font-size: 15px;
}

p {
  color: rgb(78, 80, 80);
}

ul {
  list-style-image: url("../img/strelka.png");
}

img {
  width: 100%;
}

.wrapper {
  width: 480px;
  margin: auto;
  padding: 32px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  /*border добавлен для простоты воспрития */
  border-left: 2px solid rgb(211, 211, 211);
  border-right: 2px solid rgb(211, 211, 211);
}

@font-face {
  font-family: "RGO";
  font-style: normal;
  font-weight: 400;
  src: local(PathwayGothicOne-Regular),
  url("../fonts/PathwayGothicOne-Regular.ttf");
}
