body {
  font-family: "Pathway Gothic One", sans-serif;
  background: url("../img/background.jpg") no-repeat;
}

.wrapper {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1024px;
  box-sizing: border-box;
}

/* HEADER */
header {
  padding: 20px 30px;
}

.menu {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  width: 33%;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
}

.menu-item a {
  color: #fff;
  font-size: 24px;
}

.menu-item a:hover {
  color: #263555;
}

.logo {
  order: -1;
  width: 100%;
}

h1 {
  width: 90px;
  height: 90px;
  color: #263555;
  margin: 0 auto 20px;
  font-size: 46px;
  font-weight: 400;
  background: #fff;
  line-height: 90px;
  text-align: center;
  border-radius: 50%;
  font-family: "Dorsa", sans-serif;
}

/* MAIN submenu */
.submenu {
  display: none;
}

.menu-item:hover .submenu {
  display: block;
}

.menu-item.sub:hover a {
  color: #263555;
}

ul.submenu {
  top: 30px;
  left: 5px;
  padding: 0 5px;
  background: #fff;
  z-index: 10;
  position: absolute;
  border-radius: 3px;
  border: 1px solid #fff;
}

ul.submenu::before {
  content: "";
  top: -5px;
  left: 31px;
  position: absolute;
  border-style: solid;
  border-width: 0 4px 6px 4px;
  border-color: transparent transparent #fff transparent;
}

.sub li.submenu  {
  padding: 4px;
  line-height: 16px;
}

.menu-item.sub li.submenu a {
  color: #6b7488;
  font-size: 22px;
}

.menu-item.sub li.submenu a:hover {
  color: #263555;
}

/* MAIN */
main {
  padding: 30px 20px;
  background: #fff;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.content {
  width: auto;
  position: relative;
  display: inline-block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  height: auto;
  margin-bottom: 10px;
  background: #000;
}

.gallery-item img {
  height: 100%;
}

.gallery-item,
.gallery-item img {
  width: 100%;
  max-width: 460px;
}

.gallery-item:hover {
  cursor: zoom-in;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../img/zoom-in.svg");
}

.gallery-item:hover img {
  opacity: 0.5;
}

.content a[href="#top"] {
  right: -12px;
  bottom: -26px;
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 50%;
  background: #38afe5 url("../img/arrow-up.png") 50% 50% no-repeat;
}

/* FOOTER */
div.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 20px 10px;
  background: #30455b;
}

div.nav {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  font-family: "Open Sans Condensed", sans-serif;
}

div.nav a {
  color: #fff;
  font-size: 14px;
  margin-bottom: 6px;
}

div.contacts {
  width: 100%;
  margin-top: 8px;
  flex-direction: row;
  justify-content: space-between;
}

div.contacts a {
  font-size: 12px;
}

div.contacts a::before {
  content: url("../img/smartphone-call.svg");
  position: relative;
  top: 2px;
}

div.contacts a:last-child::before {
  content: url("../img/email.svg");
  top: 3px;
}

div.contacts span {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

div.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 0 5px 0;
}

div.social a {
  width: 30px;
  height: 30px;
  margin: 0 5px 15px;
  border-radius: 50%;
}

div.social p {
  color: #fff;
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.twitter {
  background: #fff url("../img/sprits-social.png") -45px -45px no-repeat;
}

.facebook {
  background: #fff url("../img/sprits-social.png") -5px -5px no-repeat;
}

.google-plus {
  background: #fff url("../img/sprits-social.png") -45px -5px no-repeat;
}

.instagram {
  background: #fff url("../img/sprits-social.png") -5px -45px no-repeat;
}

/* FOOTER hover */
footer a[target="_blank"]:hover {
  box-shadow: 0 0 12px rgba(0,0,0,0.8);
}

@media screen and (min-width: 320px) {
  .gallery-item:nth-last-of-type(-n+3) {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .wrapper {
    max-width: 520px;
  }

  /* HEADER */
  h1 {
    width: 96px;
    height: 96px;
    line-height: 96px;
    font-size: 48px;
  }

  .menu {
    width: 320px;
  }

  ul.submenu {
    top: 30px;
    left: 15px;
  }

  ul.submenu::before {
    top: -5px;
    left: 31px;
  }

  /* MAIN */
  main {
    padding: 30px;
  }

  .content a[href="#top"] {
    right: -22px;
    bottom: -24px;
  }

  /* FOOTER */
  div.list {
    padding: 20px 90px 15px;
    justify-content: space-between;
  }

  div.nav a {
    font-size: 15px;
    margin-bottom: 10px;
  }

  div.contacts a {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 96vw;
    max-width: 790px;
  }

  /* HEADER */
  h1 {
    width: 110px;
    height: 110px;
    font-size: 54px;
    line-height: 110px;
    margin: 0 auto 20px;
  }

  .menu-item a {
    font-size: 26px;
  }

  /* MAIN */
  main {
    padding: 40px 30px 60px;
  }

  h2 {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .gallery {
    justify-content: space-between;
  }

  .gallery-item,
  .gallery-item img {
    width: 331px;
    height: 177px;
  }

  .gallery-item:nth-last-of-type(n+2) {
    display: inherit;
  }

  .content a[href="#top"] {
    right: -20px;
    bottom: -44px;
  }

  /* FOOTER */
  div.list {
    align-items: center;
  }

  div.nav a {
    margin-bottom: 6px;
  }

  div.contacts {
    width: auto;
    margin-top: 0;
    flex-direction: column;
  }

  div.contacts a {
    margin-bottom: 4px;
  }

  div.contacts a::before {
    content: "tel\205a";
    position: static;
  }

  div.contacts a:last-child::before {
    content: "";
  }

  div.contacts span {
    font-size: 17px;
  }

  div.social a {
    width: 40px;
    height: 40px;
    margin: 10px 5px 25px;
  }

  div.social p {
    font-size: 15px;
  }

  .twitter {
    background: #fff url("../img/sprits-social.png") -40px -40px no-repeat;
  }

  .facebook {
    background: #fff url("../img/sprits-social.png") -0px -0px no-repeat;
  }

  .google-plus {
    background: #fff url("../img/sprits-social.png") -40px -0px no-repeat;
  }

  .instagram {
    background: #fff url("../img/sprits-social.png") -0px -40px no-repeat;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    width: auto;
    max-width: 1024px;
  }

  /* HEADER */
  header {
    padding: 30px 50px;
  }

  .menu {
    width: auto;
    align-items: center;
    justify-content: space-between;
  }

  .menu-item {
    width: auto;
  }

  .menu-item a {
    font-size: 27px;
  }

  .logo {
    order: 0;
    width: auto;
  }

  h1 {
    width: 144px;
    height: 144px;
    font-size: 62px;
    line-height: 144px;
  }

  ul.submenu {
    top: 30px;
    left: -10px;
  }

  /* MAIN */
  main {
    padding: 40px 50px 60px;
  }

  h2 {
    font-size: 28px;
  }

  .gallery-item {
    margin-bottom: 20px;
  }

  .gallery-item,
  .gallery-item img {
    width: 288px;
    height: 154px;
    display: inherit;
  }

  .gallery-item:last-child {
    display: inherit;
  }

  /* FOOTER */
  div.list {
    padding: 25px 80px;
    justify-content: space-around;
  }

  .content a[href="#top"] {
    right: -36px;
  }
}
