// palette
$color1: #263555; // h1, h2, text, ::hover
$color2: #fff;    // a
$color3: #fff;    // main background
$color4: #6b7488; // submenu a
$color5: #30455b; // footer background

// fonts
$heading-font: 'Dorsa', sans-serif;
$standart-font: 'Pathway Gothic One', sans-serif;
$not-standart-font: 'Open Sans Condensed', sans-serif;
